header {
    position: relative;
    height: 500px;
    width: 100vw;
}

header:before {
    content: '';
    background: rgba(37, 37, 37, 0.24);
    width: 100vw;
    height: 100%;
    position: absolute;
    /* 绘制网格线 */
    background-image: linear-gradient(transparent 90%, rgb(37, 37, 37) 180%),
        linear-gradient(to top, transparent 90%, rgb(37, 37, 37) 90%);
    background-size: 2% 2%;
    z-index: 9;

}

header h1 {
    top: 100px;
    z-index: 9;
}

header h2 {
    z-index: 9;
    position: relative;
    top: 20%;
    text-align: center;
    line-height: 90px;
    color: white;


}

.gallery {
    /* 只显示3行  纯CSS瀑布流布局核心*/
    column-count: 3;
    /* 列间间隔0像素 */
    column-gap: 0;
    padding: 2px;
    width: 100vw;
    
    
}

.image {
    overflow: hidden;
    cursor: pointer;
}
.item{
    padding: 2px;
    position: relative;
    
}

.item img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.image .info{
    /* 图片信息 */
    height: 50%;
    width: calc(100% - 4px);
    background-color: aliceblue;
    position: absolute;
    z-index: 999;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    list-style: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    line-height: 22px;
}
.image:hover .info{
    top: 50%;
    opacity: .7;
}
@media screen and (max-width: 960px) {
    .image .info{
        font-size: 10px;
        line-height: 15px;
    }
    header h1 {
        font-size: 70px;
    }

    header>h2 {
        font-size: 20px;
    }

    header {
        height: 500px;
        width: 100vw;
        background-size: 980px;
        min-width: 250px;
    }
}

@media screen and (max-width: 768px) {
    
    header h1 {
        font-size: 50px;
    }

    header h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .image .info{
        font-size: 10px;
        line-height: 11px;
    }
    header h1 {
        font-size: 40px;
    }

    header h2 {
        font-size: 10px;
    }

    header {
       
        width: 100vw;
    }
}