header {
    position: relative;
    height: 500px;
    width: 100vw;
}

header:before {
    content: '';
    background: rgba(37, 37, 37, 0.24);
    width: 100vw;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(transparent 90%, rgb(37, 37, 37) 180%),
        linear-gradient(to top, transparent 90%, rgb(37, 37, 37) 90%);
    background-size: 2% 2%;
    z-index: 9;

}

header h2 {
    position: relative;
    top: 100px;
    font-size: 60px;
    text-align: center;
    line-height: 90px;
    letter-spacing: 20px;
    color: white;
    z-index: 9;
    
}

header h3 {
    z-index: 9;
    position: relative;
    top: 20%;
    text-align: center;
    letter-spacing: 10px;
    line-height: 90px;
    color: white;


}
/* 我的信息部分 */
.information{
    position: relative;
    width: 100vw;
    height: 500px;
    background-color: rgb(48, 48, 48);

}
.information .leftside{
    float: left;
    width: 45%;
    height: 100%;
    background-color: #000d1b;
    background: url(../images/profile/profile.png);
    background-position: center;
    background-size: cover;
}

.information .rightside{
    float: right;
    width: 55%;
    height: 100%;
    background-color: #333333;
}
.information .rightside .address .pftitle{
    color: white;
    height: 40px;
    width: 170px;
    background-color: #00a78e;
    line-height: 40px;
    margin-top: 50px;
    letter-spacing: 10px;
    box-shadow: 5px 5px 10px #00000070;
}
.information .rightside .address .pftitle:before{
    position: relative;
    content: ' ';
    left: 20px;
    top: 50px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
    
}

.information .rightside .address{
    height: 100%;
    width: 100%;
    position: relative;
    left: 60px;
}
.information .rightside .address ul>li>ul>li{
    float: left;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    margin-top: 30px;
}
.information .rightside .address ul>li>ul>li:nth-child(1){
    width: 100px;
}
.information .rightside .address ul>li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* 技能部分 */
.skill{
    width: 100vw;
    height: 700px;
    background-color:#001630 ;
}
.skillTitle{
    width: 500px;
    height: 130px;
    text-align: center;
    position: relative;
    color: white;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.skillTitle>h4{
    height: 40px;
    width: 150px;
    background-color: #00a78e;
    font-size: 25px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    letter-spacing: 10px;
    box-shadow: 5px 5px 10px #00000070;
}
.skillTitle>h4:before{

    position: relative;
    content: ' ';
    left: 20px;
    top: 50px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
}
.skillTitle>h3{
    font-size: 30px;
    letter-spacing: 5px;
}
.skillTitle .line{
    width: 35%;
    height: 1px;
    display: block;
    margin-top: 26px;
    position: relative;
    margin: 23px auto 0px;
    background: #8C8989;  
}
.skillTitle .line:after{
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 65px;
}
.skill .skillIcon{
    font-size: 200px;
    color: white;
}
.html:hover{
    color: #00a78e;
    transition: all 0.5s;
}
.html i:hover{
    color: #00a78e;
    transform: (32deg);
    transition: all 0.5s;
}
.css3:hover{
    color: #00a78e;
    transition: all 0.5s;
}
.css3 i:hover{
    color: #00a78e;
    transition: all 0.5s;
}
.jquery:hover{
    color: #00a78e;
    transition: all 0.5s;
}
.jquery i:hover{
    color: #00a78e;
    transition: all 0.5s;
}
.java:hover{
    color: #00a78e;
    transition: all 0.5s;
}
.java i:hover{
    color: #00a78e;
    transition: all 0.5s;
}
.html,.css3,.jquery,.java{
    width: 200px;
    height: 500px;
    float: left;
    text-align: center;
    color: white;
    margin-right: 100px;
    
}
.skillContent h3{
    margin-bottom: 50px;
    font-size: 40px;
}
.skillwarp{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    
}
/* 经历部分 */
.experience{
    position: relative;
    width: 100vw;
    height: 550px;
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
}
.experience .expContent{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    box-sizing: border-box;
    margin-left: 25%;
    
}
.experience .expContent .expPanel{
    width: calc( 70% - 75px );
    min-width: 200px;
    float: right;
    border: 1px solid #d4d4d4;
    padding: 15px 15px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #fff;
    border-bottom: 5px solid #00a78e;
    margin-bottom: 20px;
}
.experience .expContent .expPanel::after{
    position: absolute;
    top: 19px;
    left: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.experience .expContent ul{
    list-style: none;
    position: relative;
    padding: 10px 0 10px;
    height: 400px;
    width: 500px;
}
.experience .expContent ul li{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.experience .expContent ul li .expIcons i{
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 5px;
    left: -100px;
    margin-right: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
/* 联系我部分 */
.contactWarp{
    width: 100vw;
    height: 740px;
}
.contactWarp .contact{
    height: 600px;
    width: 500px;
    margin: 0 auto;
}
.contactWarp textarea{
    width: 500px;
    height: 200px;
    resize:none;
}

.contactWarp input::placeholder{
    text-transform: uppercase;
    
}
.contactWarp .input{
    font-size: 18px;
    width: 500px;
    height: 50px;
    text-align: center;
    display: flex;
    color: #fff;
    outline-style: none;
    background: #000d1b00;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px #ddd solid;
    border-image: -webkit-linear-gradient(#e8198b,#00a5e3) 20 20;
    transition: all 0.5s;
}
.contactWarp .input:hover{
    box-shadow:0 0 30px rgba(241,39,52,.5);
}
.contactWarp .input:focus{
    box-shadow:0 0 30px rgba(241,39,52,.5);
}
.contactWarp .submit{
    color: #fff;
    font-size: 22px;
    outline-style: none;
    border-radius: 50px;
    margin-left: 40%;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    background-image: linear-gradient(to right,#e8198b,#00a5e3);
    text-align: center;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.685);
    transition: all 0.5s;
    animation: glitch 1s infinite linear;
}
.contactWarp .submit:hover{
    box-shadow:0 0 30px rgba(241,39,52,.5);
    margin-top: 10px;
}
.contactWarp textarea{
    color: #fff;
    font-size: 22px;
    background: #000d1b00;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px #ddd solid;
    border-image: -webkit-linear-gradient(#e8198b,#00a5e3) 20 20;
    transition: all 0.5s;
    padding: 5px;
}
.contactWarp textarea:focus{
    box-shadow:0 0 30px rgba(241,39,52,.5);
}
.contactWarp textarea:hover{
    box-shadow:0 0 30px rgba(241,39,52,.5);
}
@keyframes glitch{
    0%{
        
        background-position: 12px 0;
    }
    20%{
        
        background-position: -12px -80px;
    }
    40%{
        
        background-position: 6px -160px;
    }
    60%{
        
        background-position: -6px -240px;
    }
    80%{
        
        background-position: -10px -320px;
    }
    100%{
        
        background-position: 10px -400px;
    }

} 
@media screen and (max-width: 1120px){
    .skillwarp{
        /* 排列方向 垂直显示 */
        flex-direction: column;
        /* 必要的时候拆行或拆列 */
        flex-wrap: wrap;
        height: 1000px;
        position: relative;
        left: 10%;
        top: 0;
    }
    .skill{
        height: 1200px;
    }
    
}
@media screen and (max-width: 960px) {
    .information{
        height: 960px;
    }
    .information .leftside,.information .rightside{
        clear: both;
        height: 480px;
        width: 100%;
    }
    .information .rightside .address{
        left: 20%;
    }

}
